<div class="list-group">                    
    <a href="/" class="list-group-item"> Tüm Kategoriler </a>
    <% categories.forEach(element => { %>
        <a href="/blogs/category/<%= element.categoryid %>" class="list-group-item"> <%= element.title %> </a>
    <% }); %>
</div>
