<div class="list-group">                    
    <a href="" class="list-group-item"> Tüm Kategoriler </a>
    <% categories.forEach(element => { %>
        <a href="" class="list-group-item"> <%= element %> </a>
    <% }); %>
</div>
