<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Popüler Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/r/short-url-create" class="nav-link">Link Kısalt</a>
            </li>
            <li class="nav-item">
                <a href="/game" class="nav-link">Game</a>
            </li>

            <% if (isAuth) { %>
                <li class="nav-item">
                    <a href="/Admin/blogs/" class="nav-link">Admin Panel</a>
                </li> 
            <% } %>
        </ul>

        <ul class="navbar-nav ms-auto">
            <% if (isAuth) { %>
                <li class="nav-item">
                    <a href="/account/index" class="nav-link"><%= fullname %></a> 
                </li>
                <li class="nav-item">
                    <a href="/account/Logout" class="nav-link">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/account/Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/Register" class="nav-link">Register</a>
                </li>
            <% } %> 
        </ul>
    </div>
</nav>
