<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Popüler Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/Admin/blogs/" class="nav-link">Admin Panel</a>
            </li>
        </ul>
    </div>
</nav>
