<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Admin</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/admin/blogs" class="nav-link">Blog List</a>
            </li>
            <li class="nav-item">
                <a href="/admin/blogs/create" class="nav-link">Add Blog</a>
            </li>
            <li class="nav-item">
                <a href="/admin/category" class="nav-link">Category List</a>
            </li>
            <li class="nav-item">
                <a href="/admin/category/create" class="nav-link">Add Category</a>
            </li>
            <li class="nav-item">
                <a href="/admin/user-list" class="nav-link">User List</a>
            </li>
            <li class="nav-item">
                <a href="/admin/roles" class="nav-link">Roles</a>
            </li>
            <li class="nav-item">
                <a href="/admin/file-upload" class="nav-link">File Upload</a>
            </li>
            <li class="nav-item">
                <a href="/r/short-url-list" class="nav-link">Link List</a>
            </li>
        </ul>
    </div>
</nav>
